<h4>Gestión de Habilidades</h4>
</hr>
<a href="{% url 'habilidad_crear' %}">Nueva Habilidad</a>
<br/><br/>
<hr/>
<table border="1">
    <thead>
        <th>Habilidad</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </thead>
    {% for h in habilidad_listado %}
        <tr>
            <td>{{ h.habilidad }}</td>
            <td>{{ h.descripcion }}</td>
            <td>
                <a href="{% url 'habilidad_ver' h.id %}">Ver</a>
                <a href="{% url 'habilidad_actualiza' h.id %}">Editar</a>
                <a href="{% url 'habilidad_bloquea' h.id %}">Bloquear</a>
                <a href="{% url 'habilidad_elimina' h.id %}">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
</table>