{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel de Administración{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h4>Menú Principal</h4>
            <hr>
            <ul>
                {% if group_name == "SECPLA" %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'usuarios_listar' %}">Gestión de Usuarios</a></li>
                    <li><a href="{% url 'direccion_listar' %}">Gestión de Direcciones</a></li>
                    <li><a href="{% url 'departamento_listar' %}">Gestión de Departamentos</a></li>
                    <li><a href="{% url 'cuadrilla_listar' %}">Gestión de Cuadrillas</a></li>
                    <li><a href="{% url 'gestion_encuestas' %}">Gestión de Encuestas</a></li>
                    <li><a href="{% url 'secpla_dashboard' %}">Incidencias</a></li> 
                    <li><a href="{% url 'listar_tipos_incidencia' %}">Gestión de Tipos de Incidencia</a></li>

                {% elif group_name == "Departamento" %}
                    <li><a href="{% url 'departamento_dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'incidencias_por_estado' %}">Incidencias</a></li>
                  
                {% elif group_name == "Territorial" %}
                    <li><a href="{% url 'crear_incidencia' %}">Crear Incidencia</a></li>
                    <li><a href="{% url 'gestion_incidencias' %}">Mis Incidencias</a></li>
                {% elif group_name == "Cuadrilla" %}
                    {# <li><a href="{% url 'incidencias_por_hacer' %}">Incidencias por Hacer</a></li> #}
                    {# <li><a href="{% url 'incidencias_realizadas' %}">Incidencias Realizadas</a></li> #}
                {% elif group_name == "Direccion" %}
                    {# <li><a href="{% url 'direccion:ver_incidencias' %}">Incidencias recibidas</a></li> #}
                {% endif %}
            </ul>
            <a class="logout-link" href="{% url 'login' %}">Cerrar sesión</a>
        </nav>
        <main class="main-panel">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <hr>
        <small>&copy; 2025 Urban Sensor</small>
    </footer>
</body>
</html>