{% extends "core/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% if group_name == "SECPLA" %}
    {% include "core/dashboardsecpla.html" %}
{% endif %}
{% if group_name == "Direccion" %}
  {% include "core/dashboarddireccion.html" %}
{% endif %}
{% if group_name == "Departamento" %}
  {% include "core/dashboarddepartamento.html" %}
{% endif %}
{% if group_name == "Territorial" %}
  {% include "core/dashboardterritorial.html" %}
{% endif %}
{% if group_name == "Cuadrilla" %}
  {% include "core/dashboardcuadrilla.html" %}
{% endif %}
{% endblock %}

