#contenido_pagina {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#list_title {
    margin-top: 0;
}

#list_desc {

}

#table-filtro {
    width: 100%;
    display: flex;
    gap: 20px;
}

#table-filtro .filtro-prop {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    background-color: #dbdbdb;
    border: 1px solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
    border-radius: 20px;
}

#table-filtro #filtro-busqueda {
    flex: 1;
}

#table-filtro #filtro-busqueda input {
    width: 100%;
}

#table-filtro .filtro-prop p {
    margin: 0;
}

#table-filtro .filtro-prop .icon {
    padding-right: 0;
}

#table-filtro .filtro-prop input {
    background-color: inherit;
    border: none;
    font-size: inherit;
}

#table-filtro .filtro-prop input:focus {
    outline: none;
}

#table-filtro #filtro-link {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
    background-color: rgb(101, 234, 101);
    border: 1px solid rgb(11, 72, 11);
    color: rgb(11, 72, 11);
    text-decoration: none;
}

#table-filtro #filtro-link:hover {
    box-shadow: 2px 2px 10px #a2a2a2;
}

#table-container {
    width: 100%;
    overflow-x: auto;
}

#table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    min-width: min-content;
}

#table tr {
    border-bottom: 1px solid #dbdbdb;
}

#table th {
    background-color: #dbdbdb;
}

#table th, #table td {
    padding: 10px 12px;
    text-align: left;

    
    min-width: 60px;

    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

#table td p{
    margin: 0;
    padding: 4px 10px;
    max-width: min-content;
}

#table tbody td p.Activo{
    margin: 0;
    background-color: rgb(101, 234, 101);
    border: 1px solid rgb(11, 72, 11);
    color: rgb(11, 72, 11);
    border-radius: 20px;

    text-align: center;
}

#table tbody td p.Inactivo{
    margin: 0;
    background-color: rgb(255, 161, 161);
    border: 1px solid rgb(94, 9, 9);
    color: rgb(94, 9, 9);
    border-radius: 20px;

    text-align: center;
}

#table tbody td a {
    color: inherit;
    text-decoration: none;
    padding-right: 6px;
}

#table tbody td a:hover {
    color: rgb(138, 138, 138);
    font-weight: bold;
    text-decoration:underline;
    padding-right: 0px;
}

#table #acciones {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#table .accion_icon {
    padding-right: 2px;
}