{% extends "core/base.html" %}
{% block title %}Gestión de Departamentos{% endblock %}
{% block content %}
<h4>Gestión de Departamentos</h4>
<a href="{% url 'departamento_actualizar' %}">Nuevo Departamento</a>
<br><br>
<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Departamento</th>
            <th>Encargado</th>
            <th>Correo Encargado</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for departamento in departamentos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ departamento.nombre }}</td>
            <td>{{ departamento.encargado.get_full_name }}</td>
            <td>{{ departamento.correo_encargado }}</td>
            <td>{{ departamento.direccion.nombre }}</td>
            <td>{% if departamento.esta_activo %}Activo{% else %}Bloqueado{% endif %}</td>
            <td>
                <a href="{% url 'departamento_ver' departamento.id %}">Ver</a>
                <a href="{% url 'departamento_actualizar' departamento.id %}">Editar</a>
                <a href="{% url 'departamento_bloquear' departamento.id %}">
                    {% if departamento.esta_activo %}Bloquear{% else %}Activar{% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'dashboard' %}">Volver al Menú Principal</a>
{% endblock %}