{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<form id="form_contenedor" action="" method="post">
    {% csrf_token %}
    <p id="form_titulo" class="form_texto">Recoperar contraseña</p>
    <p class="form_texto">Ingrese el correo de su cuenta</p>
    {% if mensaje %}
        <p style="color:red">{{ mensaje }}</p>
    {% endif %}
    <div class="form_input_cover">
        <p class="form_texto">Correo</p>
        <div class="form_input_div">
            <p class="form_texto form_icon">󰇮</p>
            <input class="form_texto" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Introduce tu email"/>
        </div>
    </div>
    <div id="form_button_div">
        <button type="submit" value="Confirmar">
            <span class="form_texto">Confirmar</span>
        </button>
    </div>
    <p><a href="{% url 'login' %}">Volver al inicio</a></p>
</form>
{% endblock %}