{% load static %}
<form action="" method="post">{% csrf_token %}
    <h3>Escriba la Nueva Contraseña</h3>
    <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
    {{mensaje}}
    <p><input type="text" name="email" required="" id="email_data" value={{email}} style="display: none; visibility: hidden; overflow: hidden;"></p>
    <p><input type="password" name="new_password1" required="" id="id_new_password1" placeholder="Introduce la nueva contraseña"></p>
    <p><input type="password" name="new_password2" required="" id="id_new_password2" placeholder="Repite la nueva contraseña"></p>
    <p><input type="submit" value="Cambiar mi contraseña"></p>
</form>