{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<form id="form_contenedor" action="" method="post">
    {% csrf_token %}

    <p id="form_titulo" class="form_texto">Escriba la Nueva Contraseña</p>
    <p class="form_texto">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
    {% if mensaje %}
    <p style="color:red">{{mensaje}}</p>
    {% endif %}
    <p><input type="text" name="email" required="" id="email_data" value={{email}} style="display: none; visibility: hidden; overflow: hidden;"></p>

    <div class="form_input_cover">
        <p class="form_texto">Nueva contraseña</p>
        <div class="form_input_div">
            <p class="form_texto form_icon"></p>
            <input class="form_texto" type="password" name="new_password1" required="" id="id_new_password1" placeholder="Introduce la nueva contraseña">
        </div>
    </div>

    <div class="form_input_cover">
        <p class="form_texto">Confirmar contraseña</p>
        <div class="form_input_div">
            <p class="form_texto form_icon"></p>
            <input class="form_texto" type="password" name="new_password2" required="" id="id_new_password2" placeholder="Repite la nueva contraseña">
        </div>
    </div>
    <div id="form_button_div">
        <button type="submit"><span class="form_texto">Cambiar mi contraseña</span></button>
    </div>
</form>
{% endblock %}